{% load i18n %}<script type="text/underscore-template" id="playerDivTemplate">
<div class="player-div-inner-container">
	<div class="player-div-row">
		<div class="player-div-col1">
			<img src="<%- image_path %>" alt="<%- name %>" class="img-rounded player-icon">
		</div>
		<div class="player-div-col1">
			<ul class="player-status unstyled">
				<%
					_.each(affected_cards, function(card) {
						var f = [];
						if (CARDS[card-1].attributes.Type1) {
							f.push('status-type1');
						}
						if (CARDS[card-1].attributes.Type2) {
							f.push('status-type2');
						}
						if (CARDS[card-1].attributes.Type3) {
							f.push('status-type3');
						}
						f = f.join(' ');
				%>
					<li class="<%= f %>"></li>
				<% }); %>
			</ul>
		</div>
	</div>

	<div class="player-div-row">
		<div class="player-div-col2">
			<h4><%- name %></h4>
		</div>
	</div>

	<div class="player-div-row hidden-phone">
		<div class="player-div-col1">
			{% trans "# cards" %}: <%- cards_left %>
		</div>
		<div class="player-div-col1">
			{% trans "Score" %}: <%- score %>
		</div>
	</div>
</div>
</script>