{% load i18n %}<script type="text/underscore-template" id="roomSummaryTemplate">
<table class="table table-bordered table-striped">
	<tbody>
		<tr>
			<td>{% trans "Game Room" %}:</td>
			<td>#{{ room }}</td>
		</tr>
		<tr>
			<td>{% trans "# of players" %}:</td>
			<td><%- room.num_players %></td>
		</tr>
		<tr>
			<td>{% trans "# of games started" %}:</td>
			<td><%- room.num_games %></td>
		</tr>
		<tr>
			<td>{% trans "# of turn of this game" %}:</td>
			<td><%- game.num_rounds %></td>
		</tr>
	<% if (game.cards_deck_left <= 1) { %>
		<tr class="error">
	<% } else if (game.cards_deck_left <= 5) { %>
		<tr class="warning">
	<% } else { %>
		<tr>
	<% } %>
			<td>{% trans "# of cards deck left" %}:</td>
			<td><%- game.cards_deck_left %></td>
		</tr>
	</tbody>
</table>
</script>