{% load i18n %}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% trans 'Saboteur: HK Universal Suffrage Edition.' %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}global/css/base.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	{% block include_css %}{% endblock %}

	<!--[if lt IE 9]>
	<script src="{{ STATIC_URL }}global/js/html5shiv.js"></script>
	<![endif]-->

	<!-- fav and touch icons
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="assets/ico/favicon.png">
	-->

	<script type="text/javascript">
		window.CSRF = '{{ csrf_token }}';
	</script>
	{% block head_js %}{% endblock %}
</head>
<body>
	<header>
		<div class="container-narrow">{% block header %}{% endblock %}</div>
	</header>

	<section id="messages">
		{% for message in messages %}
			<div class="alert {% if message.tags %} {{ message.tags }}{% endif %}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
	</section>

	<seaction id="content">
		<div class="container-narrow">{% block content %}{% endblock %}</div>
	</seaction>

	<footer>
		<div class="container-narrow">{% block footer %}{% endblock %}</div>
	</footer>

	{% block extra_html %}{% endblock %}
	
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-2.0.0.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}underscore/underscore.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}global/js/base.js"></script>
	{% block body_include_js %}{% endblock %}
	{% block body_inline_js %}{% endblock %}
</body>
</html>