{% extends 'base.html' %}{% load i18n %}

{% block content %}
<div class="vertical-middle-div">
	<h1 class="text-center">{% trans 'Saboteur: HK Universal Suffrage Edition.' %}</h1>
	<hr>
	<div class="row-fluid">
		<div class="span6 home-main-div" id="avaliableRoomsList">
			<div class="well">
				<h3 class="text-center">{% trans 'Avaliable Rooms' %}</h3>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>{% trans 'Room #' %}</th>
							<th>{% trans '# of players' %}</th>
						</tr>
					</thead>
					<tbody>
					{% for room in rooms %}
						<tr data-href="{% url 'game-room' room_id=room.id_hash %}">
							<td>{{ room }}</td>
							<td>{{ room.num_players }}</td>
						</tr>
					{% empty %}	
						<tr>
							<td colspan="2">{% trans 'There is no avaliable room. Create one and Tell your friend NOW!' %}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% if not request.is_mobile %}
		<div class="span6 home-main-div hidden-phone"><div class="well">
			<h3 class="text-center">{% trans 'Create Your Own Room' %}</h3>
			<form method="POST" action="{% url 'room-add' %}" class="text-center">{% csrf_token %}
				<label class="checkbox inline">
					<input type="checkbox" name="public">{% trans 'Allow Public to join!' %}
				</label>
				<div style="margin-top:20px">
					<button class="btn btn-large btn-primary" type="submit">{% trans 'Create!' %}</button>
				</div>
			</form>
		</div></div>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block body_include_js %}

{% endblock %}

{% block body_inline_js %}
<script type="text/javascript">
	$(function(){
		$(document).on('click', '#avaliableRoomsList [data-href]', function(){
			window.location = $(this).attr('data-href');
		});
	});
</script>
{% endblock %}
