body {background-color: #F0F0F0;}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 800px;
}
.container-narrow > hr {
	margin: 30px 0;
}

.well table {background: #FFF;}
.well .table-striped tbody>tr:nth-child(odd)>td,
.well .table-striped tbody>tr:nth-child(odd)>th {
	background: #F9F944;
}

button[data-href], tr[data-href] {cursor: pointer;}

script {display: none;}

.qrcode {margin: 20px 0}
.gameRoomMemberNumber {font-weight: bold;}

.img-flipped {
	-moz-transform: scaleX(-1) scaleY(-1);
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
    filter: flipv fliph; /*IE*/
}


.vertical-middle-div {padding-top: 150px;}

#messages {padding-top:20px;}

#deskBoard {
	margin: 0 auto;
}
.custom-col1 {width: 20%;}
.custom-col3 {width: 60%;}

.player-list-desktop {height: 100%;}
.player-list-desktop > li {height: 215px; padding: 30px 0;}
.player-status > li {
	float: left;
	background-image: url('/static/games/images/status.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.player-div > .player-div-inner-container.playing {background: #CCC; border-radius: 15px;}

.player-div-inner-container {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	height: 180px;
	margin-top: 0px;
}
.player-div-col1 {width: 50%;float: left;}
.player-div-row, .player-div-col2 {width: 100%;float: left;}
#playerListRight .player-div-row, #playerListRight .player-div-col1,#playerListRight .player-div-col2 {float: right;}

#playerListRight .player-status > li {float: right; margin-right: 0; margin-left: 20px;}
.player-status > li.status-type1 {background-position: 0px 0px;}
.player-status > li.status-type2 {background-position: 0px -30px;}
.player-status > li.status-type3 {background-position: 0px -60px;}

[class*="custom-col"] {float: left;min-height: 1px;}


#gameMap .game-map-road-cell {float: left; border: 1px solid transparent; border-radius: 5px; cursor: pointer;}
#gameMap .game-map-road-cell:hover {border-color: #444;}
#gameMap .game-map-road-cell > img {height: 100%;}

.game-map-road-cell[data-x="8"][data-y="0"],
.game-map-road-cell[data-x="8"][data-y="2"],
.game-map-road-cell[data-x="8"][data-y="4"] {background: url('/static/games/images/cards/69.png') no-repeat;}

#roomSummary > table {background-color: #FFF;}

/* large desktop */
@media (min-width: 1200px) {
	#roomSummary {margin-top: 40px;}
	#deskBoard {width: 1200px;}
	#deskBoard, .custom-col1, .custom-col3 {height: 825px;}

	.player-icon {height: 120px; width: 95px;}
	.player-status > li {margin-top: 10px;}

	#gameMap .game-map-road-cell, #gameMap .game-map-road-cell > img {width: 78px; height: 98px;}
	.game-map-road-cell[data-x="8"][data-y="0"],
	.game-map-road-cell[data-x="8"][data-y="2"],
	.game-map-road-cell[data-x="8"][data-y="4"] {background-size: 78px 98px;}
}

/* desktop */
@media (max-width: 1199px) and (min-width: 980px) {
	#roomSummary {margin-top: 20px;}
	#deskBoard {width: 980px;}
	#deskBoard, .custom-col1, .custom-col3 {height: 673px;}

	.player-list-desktop > li {height: 200px; padding: 15px 0}
	.player-div-inner-container {height: 160px; width: 160px;}

	.player-icon {height: 100px;}
	.player-status > li {margin-top: 8px;}
	#gameMap .game-map-road-cell, #gameMap .game-map-road-cell > img {width: 63px; height: 79px;}
	.game-map-road-cell[data-x="8"][data-y="0"],
	.game-map-road-cell[data-x="8"][data-y="2"],
	.game-map-road-cell[data-x="8"][data-y="4"] {background-size: 63px 79px;}
}

/* tablet */
@media (max-width: 979px) and (min-width: 768px) {
	#roomSummary {margin-top: 10px;}
	.vertical-middle-div {padding-top: 80px;}
	#deskBoard {width: 768px;}
	#deskBoard, .custom-col1, .custom-col3 {height: 528px;}

	.player-list-desktop > li {height: 225px; padding: 10px 0}
	.player-div-inner-container {width: 120px; padding: 5px 10px; height: 100%;}
	.player-div-col1 {width: 100%;}

	.player-icon {height: 80px;}
	.player-status > li {margin-top: 6px;}
	#gameMap .game-map-road-cell, #gameMap .game-map-road-cell > img {width: 49px; height: 61px;}
	.game-map-road-cell[data-x="8"][data-y="0"],
	.game-map-road-cell[data-x="8"][data-y="2"],
	.game-map-road-cell[data-x="8"][data-y="4"] {background-size: 49px 61px;}
}


/* tablet and desktop */
@media (min-width: 768px) {
	.home-main-div > .well {height: 350px;overflow-y: auto;}
}

/* mobile */
@media (max-width: 767px) {
	.vertical-middle-div {padding-top: 30px;}
}


/* mobile */
@media (max-width: 767px) {
	.vertical-middle-div {padding-top: 30px;}
	.ui-dialog  .ui-header .ui-btn-icon-notext  { display:none;}
	.player-icon {height: 60px;}
	.player-status > li {margin-top: 3px; margin-right: 5px; width:20px; height: 20px;background-size: 20px;margin-right: 5px;}
	.player-status > li.status-type2 {background-position: 0px -22px;}
	.player-status > li.status-type3 {background-position: 0px -42px;}
	.player-div > .player-div-inner-container.playing {border-radius: 5px;}
	.hidden-phone {display: none;visibility: hidden;}

	.player-div > h4 {display: inline-block; margin: 10px 0 0 0;}

	#gameMap {width:378px;}
	#gameMap .game-map-road-cell, #gameMap .game-map-road-cell > img {width: 40px; height: 49px; border-color: #444;}
	.game-map-road-cell[data-x="8"][data-y="0"],
	.game-map-road-cell[data-x="8"][data-y="2"],
	.game-map-road-cell[data-x="8"][data-y="4"] {background-size: 40px 49px;}

	.unstyled {margin: 0;padding: 0;list-style: none;}

	div[data-role="page"] {height:300px; width:480px;}

	#myRoleCover, #myRole,
	#myRoleCover > img, #myRole > img {
		width: 83px;
		height: 115px;
	}
	#myRoleCover {margin-right: 18px; margin-left: 8px;}

	#myRoleCover {
		float: left;
		position: relative;
		z-index: 2;
	}

	#myRole {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		z-index: 1;
	}

	#actionsAreaWrapper {position: relative; float: left;}
	.action-area {
		float: left;
		width: 82px;
		margin: 0 10px;
		border: 1px dashed #444;
		height: 115px;
		border-radius: 5px;
		font-size: 0.8em;
		line-height: 115px;
		text-align: center;
		position: relative;
	}
	.mobile-row {
		width: 450px;
		float: left;
		margin: 0 auto;
	}
	#myCards {
		width: 100%;
		height: 112px;
		overflow: hidden;
		list-style: none;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		position: relative;
		text-align: center;
	}
	#myCards > .cards {display: inline-block; margin: 20px 5px; position: relative;}
	.cards, .cards > img {width: 64px; height: 82px;}
	.cards {list-style: none;  z-index: 3;}

	#playerList {
		width: 450px;
	}
	#playerList > li {
		display: block;
		width: 123px;
		height: 97px;
		position: relative;
		float: left;
		margin-bottom: 10px;
		padding: 3px 10px;
	}
	.player-div-inner-container {width: 113px; padding: 5px; height: 90px;}
	.player-div-inner-container h4 {margin: 5px 0;}

	.game-result {text-align: center}

	#goldsArea > li, #goldsArea > li > img {width: 87px; height: 110px;}
	#goldsArea > li {float: left; padding: 0 30px 3px 30px;}

	.passBtn {width: 100%;overflow: hidden;margin-top: 20px;float: left;}

	#disableTouchDiv {height:300px; width:480px; position: absolute; top: 0; left: 0; z-index: 1000; display: none;}
}



/*****************************************
.road { position: relative; width: 50px; height: 75px; float: left; margin: 10px 10px 10px 0; border: 1px solid #aaaaaa;}
.tool { position: relative; width: 50px; height: 75px; float: left; margin: 10px 10px 10px 0; border: 1px solid #aaaaaa;}
.get { width: 50px; height: 75px; float: left; margin: 10px 10px 10px 0; border: 1px solid #aaaaaa;}
.put { width: 65px; height: 75px; float: left; margin: 10px 20px 10px 0; border: 1px solid #aaaaaa;}
.drop { width: 65px; height: 75px; float: left; margin: 10px 20px 10px 0; border: 1px solid #aaaaaa;}
.my_role { width: 50px; height: 75px; float: left; margin: 10px 10px 10px 0; border: 1px solid #aaaaaa; margin-top: 100px;}
.other_role { width: 50px; height: 75px; float: left; margin: 10px 10px 10px 10px; border: 1px solid #aaaaaa;}
.ui-content{overflow-x: visible;}
.map { position: relative; width: 50px; height: 75px; float: left; margin: 0px -1px -5px 0; border: 1px solid #aaaaaa;}
img {height: auto; width: 100%;}*/


