{% extends 'base.html' %}{% load i18n %}

{% block head_js %}
<script type="text/javascript">
	window.CARDS = {{ cards|safe }};
	window.INIT_MAP = {{ maps|safe }};
	window.CHARS = {{ characters|safe }};
</script>
{% endblock %}

{% block extra_html %}

<div class="visible-phone vertical-middle-div">
	<div class="alert alert-block" style="margin-top:50px;">
		<h4>{% trans 'Warning' %}</h4>
		<p>
			{% trans 'Please make the width of your screen longer' %}
		</p>
	</div>
</div>

<div id="deskBoard" class="hidden-phone">
	<div class="custom-col1">
		<ul id="playerListLeft" class="unstyled player-list-desktop">
			<li class="player-div" data-position="1"></li>
			<li class="player-div" data-position="6"></li>
			<li class="player-div" data-position="5"></li>
		</ul>
	</div>
	<div class="custom-col3">
		{% if not room.started %}
		<div id="beforeGameDiv" class="vertical-middle-div">
			<div class="row-fluid">
				<div class="span12">
					<div class="well text-center">
						<h3>{% trans 'Scan the QR code to join!' %}</h3>
						<p><strong>#{{ room }}</strong></p>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#qrcode_normal" data-toggle="tab">{% trans "Default Browser" %}</a></li>
							<li><a href="#qrcode_googlechrome" data-toggle="tab">{% trans "Google Chrome for iOS" %}</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="qrcode_normal"><img src="{{ qrcode }}" alt="{% url 'game-room' room_id=room.id_hash %}" class="qrcode"></div>
							<div class="tab-pane" id="qrcode_googlechrome"><img src="{{ qrcode_google }}" alt="{% url 'game-room' room_id=room.id_hash %}" class="qrcode"></div>
						</div>
						<p>{% trans '<span class="gameRoomMemberNumber">0</span> player(s) in this room.' %}</p>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		<div id="runningGameDiv"{% if not started %} class="hidden"{% endif %}>
			<div id="roomSummary"></div>
			{% include 'games/map.html' %}
		</div>
		
	</div>
	<div class="custom-col1">
		<ul id="playerListRight" class="unstyled player-list-desktop text-right">
			<li class="player-div" data-position="2"></li>
			<li class="player-div" data-position="3"></li>
			<li class="player-div" data-position="4"></li>
		</ul>
	</div>
</div>

<div id="badGuyWinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="badGuyWinModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-header">
		<h3 id="badGuyWinModalLabel">{% trans "Bad Guys Win" %}</h3>
	</div>
	<div class="modal-body" style="text-align:center;">
		<img src="{{ STATIC_URL }}games/images/win/bad-guys.png">
	</div>
</div>

<div id="goodGuyWinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="goodGuyWinModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-header">
		<h3 id="goodGuyWinModalLabel">{% trans "Good Guys Win" %}</h3>
	</div>
	<div class="modal-body" style="text-align:center;">
		<img src="{{ STATIC_URL }}games/images/win/good-guys.png">
	</div>
</div>

{% include 'games/elements/player_div_template.html' %}

{% include 'games/elements/room_summary_template.html' %}

{% endblock %}


{% block body_include_js %}
<script type="text/javascript" src="{{ STATIC_URL }}games/js/render.js"></script>
{% endblock %}


{% block body_inline_js %}
{% include 'games/elements/js/periodic.html' %}
{% endblock %}