<div id="gameMap">
	<div class="game-map-road-row" id="gameMapRoadRow0">
		<div class="game-map-road-cell" data-x="0" data-y="0"></div>
		<div class="game-map-road-cell" data-x="1" data-y="0"></div>
		<div class="game-map-road-cell" data-x="2" data-y="0"></div>
		<div class="game-map-road-cell" data-x="3" data-y="0"></div>
		<div class="game-map-road-cell" data-x="4" data-y="0"></div>
		<div class="game-map-road-cell" data-x="5" data-y="0"></div>
		<div class="game-map-road-cell" data-x="6" data-y="0"></div>
		<div class="game-map-road-cell" data-x="7" data-y="0"></div>
		<div class="game-map-road-cell" data-x="8" data-y="0"></div>
	</div>
	<div class="game-map-road-row" id="gameMapRoadRow1">
		<div class="game-map-road-cell" data-x="0" data-y="1"></div>
		<div class="game-map-road-cell" data-x="1" data-y="1"></div>
		<div class="game-map-road-cell" data-x="2" data-y="1"></div>
		<div class="game-map-road-cell" data-x="3" data-y="1"></div>
		<div class="game-map-road-cell" data-x="4" data-y="1"></div>
		<div class="game-map-road-cell" data-x="5" data-y="1"></div>
		<div class="game-map-road-cell" data-x="6" data-y="1"></div>
		<div class="game-map-road-cell" data-x="7" data-y="1"></div>
		<div class="game-map-road-cell" data-x="8" data-y="1"></div>
	</div>
	<div class="game-map-road-row" id="gameMapRoadRow2">
		<div class="game-map-road-cell" data-x="0" data-y="2"></div>
		<div class="game-map-road-cell" data-x="1" data-y="2"></div>
		<div class="game-map-road-cell" data-x="2" data-y="2"></div>
		<div class="game-map-road-cell" data-x="3" data-y="2"></div>
		<div class="game-map-road-cell" data-x="4" data-y="2"></div>
		<div class="game-map-road-cell" data-x="5" data-y="2"></div>
		<div class="game-map-road-cell" data-x="6" data-y="2"></div>
		<div class="game-map-road-cell" data-x="7" data-y="2"></div>
		<div class="game-map-road-cell" data-x="8" data-y="2"></div>
	</div>
	<div class="game-map-road-row" id="gameMapRoadRow3">
		<div class="game-map-road-cell" data-x="0" data-y="3"></div>
		<div class="game-map-road-cell" data-x="1" data-y="3"></div>
		<div class="game-map-road-cell" data-x="2" data-y="3"></div>
		<div class="game-map-road-cell" data-x="3" data-y="3"></div>
		<div class="game-map-road-cell" data-x="4" data-y="3"></div>
		<div class="game-map-road-cell" data-x="5" data-y="3"></div>
		<div class="game-map-road-cell" data-x="6" data-y="3"></div>
		<div class="game-map-road-cell" data-x="7" data-y="3"></div>
		<div class="game-map-road-cell" data-x="8" data-y="3"></div>
	</div>
	<div class="game-map-road-row" id="gameMapRoadRow4">
		<div class="game-map-road-cell" data-x="0" data-y="4"></div>
		<div class="game-map-road-cell" data-x="1" data-y="4"></div>
		<div class="game-map-road-cell" data-x="2" data-y="4"></div>
		<div class="game-map-road-cell" data-x="3" data-y="4"></div>
		<div class="game-map-road-cell" data-x="4" data-y="4"></div>
		<div class="game-map-road-cell" data-x="5" data-y="4"></div>
		<div class="game-map-road-cell" data-x="6" data-y="4"></div>
		<div class="game-map-road-cell" data-x="7" data-y="4"></div>
		<div class="game-map-road-cell" data-x="8" data-y="4"></div>
	</div>
</div>