{% extends 'base.html' %}{% load i18n %}


{% block content %}
<div class="row">
	<div class="span12">
		<div class="well text-center">
			<form method="POST" action"{% url 'game-room' room_id=room.id_hash %}" id="enterRoomForm">{% csrf_token %}
				<h4>
					{% blocktrans %}Are you sure to enter room #{{ room }}?{% endblocktrans %}
				</h4>
				<div class="control-group">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><span class="icon-user"></span></span>
							<input type="text" name="username" id="inputUsername" value="{{ request.session.default_name }}" placeholder="{% trans "Username" %}">
						</div>
						<span class="help-block">
							{% trans "At least 3 and at most 10 alphabets, numbers, underscore, and/or hyphen." %}
						</span>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-large btn-primary" type="submit">{% trans 'Enter!' %}</button>
					</div>
				</div>
				<br>
				<a class="btn btn-small btn-danger pull-right" href="{% url 'home' %}">{% trans 'Back' %}</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block body_inline_js %}
{{ block.super }}
<script type="text/javascript">
	$(function(){
		$('#enterRoomForm').submit(function(){
			if (!/^[-\w]{3,10}$/.test($('#inputUsername').val())) {
				alert('{% trans "Invalid username" %}')
				return false;
			}
		});
	});
</script>
{% endblock %}